linux/receipts
linux/objects
linux/library
linux/builds

unix/receipts
unix/objects
unix/library
unix/builds

windowss/receipts
windows/objects
windows/library
windows/builds

./idea
./vscode
./DS_Store